#mainbody {
	margin: 50px 100px;
}
#top{
	font-weight: bold;
	font-family: 'Fjord One';
}
#status,#info {
	font-size: x-large;
	font-family: ‘Times New Roman’, Times, serif;
}
#info2 {
	font-size: large;
	font-family: ‘Courier New’, Courier, monospace;
}

.gametablebuttons {
	border: 1px outset green;
	height: 70px;
	width: 70px;
	cursor: pointer;
}